.dashboard {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.myMap {
  position: relative;
}

#map {
  height: 40rem;
  width: 100%;
}

.list_container {
  overflow: scroll;
}

.list_item {
  font-family: Arial, Helvetica, sans-serif;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid salmon;
  border-radius: 6px;
}

.chip_tray {
  margin-top: .5rem;
}

#safety_query {
  font-size: smaller;
  font-weight: lighter
}